// $Id$
/* Adapted by the Tiki Community for Tiki Wiki CMS Groupware.
 Original Bootswatch information:
 */

@import "variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";
// the Bootstrap variables.scss file with theme-specific values replacing the defaults

//Theme variables aren't overriding default values for these.
body {
  color: #aaa;
  background: #272b30;
}

//.topbar.bg-dark,
	// .topbar .cssmenu_horiz ul,
//.topbar .navbar-default .navbar-nav > li,
//.topbar .nav > li,
//.card-heading,
//.navbar-default .navbar-collapse,
//.navbar-default .navbar-form {
//	-webkit-background-image: linear-gradient(to bottom, #484e55, #3a3f44 60%, #313539);
//	-o-background-image: linear-gradient(to bottom, #484e55, #3a3f44 60%, #313539);
//	background-image: linear-gradient(to bottom, #484e55, #3a3f44 60%, #313539);
//}

body.fullscreen { background: $body-bg; }
